{% extends "base.html" %}

{% block sidebar %}
	<form class="form-inline well" method="get" role="form">
		<div class="input-group">
			<input class="form-control input-xs" name="q"
			     placeholder="Search..." value="{{ request.args.get('q', '') }}" />
			<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Go</button>
			</span>
		</div>
	</form>
{% endblock %}
{% block content %}
    {% include "includes/list.html" %}
    {% include "includes/page_links.html" %}
{% endblock %}