{% extends "base.html" %}
{% block title %}{{ entry.title }}{% endblock %}
{% block content_title %}{{ entry.title }}{% endblock %}
{% block content %}
<form action="{{ url_for('entries.delete', slug=entry.slug) }}" method="post">
	<fieldset>
		<legend>Delete this entry?</legend>
		<button class="btn btn-danger" type="submit">Delete</button>
		<a class="btn" href="{{ url_for('entries.detail', slug=entry.slug) }}">Cancel</a>
	</fieldset>
</form>
{% endblock %}