{% extends "base.html" %}

{% from "macros/form_field.html" import form_field %}

{% block title %}Edit {{ entry.title }}{% endblock %}

{% block content_title %}Edit {{ entry.title }}{% endblock %}

{% block content %}

<form action="{{ url_for('entries.edit', slug=entry.slug) }}" class="form form-horizontal" method="post">
	{% for field in form %}
	   {{ form_field(field) }}
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-default">Save</button>
			<a class="btn" href="{{ url_for('entries.detail', slug=entry.slug) }}">Cancel</a>
		</div>
	</div>
</form>
{% endblock %}